# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csvpath = '../Weatherpy/Output/CityWeather.csv'
df = pd.read_csv(csvpath)
df

,Unnamed: 0,city,lat,long,weather,temperature,humidity,temp_max,cloudiness,date,wind_speed
0,0,rikitea,-23.122954,-134.968014,Clouds,73.94,77,73.94,68,1669472854,2.19
1,1,nuuk,64.175029,-51.735539,Clouds,29.97,74,30.92,75,1669472858,11.50
2,2,novovasylivka,47.922710,35.485840,Clouds,45.00,79,45.00,100,1669472863,7.70
3,3,sampit,-2.538911,112.949389,Clouds,74.68,96,74.68,100,1669472867,2.95
4,4,yulara,-25.241011,130.986941,Clouds,76.35,55,76.35,98,1669472871,3.58
...,...,...,...,...,...,...,...,...,...,...,...
590,590,luba,17.317322,120.694646,Clouds,73.99,93,73.99,82,1669475377,4.05
591,591,soyo,-6.133377,12.371755,Rain,77.83,85,77.83,97,1669475381,10.45
592,592,pochutla,17.660556,-98.897778,Clouds,71.91,63,71.91,98,1669475385,2.06
593,593,khonuu,66.455612,143.223007,Clouds,-28.05,90,-28.05,97,1669475388,2.01
594,594,brufut,13.381344,-16.751729,Clear,87.89,42,87.89,0,1669475392,9.22

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   595 non-null    int64
 1   city         595 non-null    object
 2   lat          595 non-null    float64
 3   long         595 non-null    float64
 4   weather      595 non-null    object
 5   temperature  595 non-null    float64
 6   humidity     595 non-null    int64
 7   temp_max     595 non-null    float64
 8   cloudiness   595 non-null    int64
 9   date         595 non-null    int64
 10  wind_speed   595 non-null    float64
dtypes: float64(5), int64(4), object(2)
memory usage: 51.3+ KB

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
max_humdidity=max(df["humidity"])
max_humdidity

100

In [5]:
# Configure gmaps with API key:
gmaps.configure(api_key=g_key)

# latitude and longitude in locations
locations = df[['lat', 'long']]


# Fill NaN values and convert to float
humidity = df["humidity"].astype(float)

#plt heatmap
fig=gmaps.figure()
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity = max_humdidity,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Create new data frame with requested weather conditions:
my_vacay=df[(df['temp_max'] < 70) & (df['temp_max'] > 65) & (df['humidity'] < 80) & (df['cloudiness'] <20)]
                            
my_vacay

,Unnamed: 0,city,lat,long,weather,temperature,humidity,temp_max,cloudiness,date,wind_speed
31,31,barbar,24.405418,76.676266,Clear,67.12,30,67.12,0,1669473072,3.71
58,58,geraldton,-28.770350,114.614716,Clear,66.36,72,66.36,3,1669473181,17.27
77,77,hermanus,-34.417500,19.236111,Clouds,68.85,58,68.85,15,1669473270,20.11
130,130,carnarvon,-24.882613,113.657649,Clear,69.17,72,69.17,0,1669473488,22.50
220,220,shwebo,22.566662,95.699999,Clear,69.96,62,69.96,0,1669473840,3.96
230,230,puri,19.807608,85.825254,Clear,66.52,52,66.52,5,1669473882,3.69
283,283,gojra,31.148237,72.685908,Clear,67.55,20,67.55,8,1669474100,3.80
436,436,fuengirola,36.538778,-4.623335,Clear,64.42,52,68.67,0,1669474741,9.22
453,453,firozabad,27.152799,78.399144,Clear,67.42,30,67.42,0,1669474810,3.51
501,501,bafq,31.599706,55.396689,Clear,67.30,22,67.30,1,1669475020,2.86
514,514,rawson,-43.299135,-65.105666,Clear,66.45,44,66.45,0,1669475073,13.15

In [7]:
my_vacay.info()
#no null data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 31 to 514
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11 non-null     int64
 1   city         11 non-null     object
 2   lat          11 non-null     float64
 3   long         11 non-null     float64
 4   weather      11 non-null     object
 5   temperature  11 non-null     float64
 6   humidity     11 non-null     int64
 7   temp_max     11 non-null     float64
 8   cloudiness   11 non-null     int64
 9   date         11 non-null     int64
 10  wind_speed   11 non-null     float64
dtypes: float64(5), int64(4), object(2)
memory usage: 1.0+ KB

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# #activities airport
# # geocoordinates
# target_coordinates = f"{lat}, {lng}"
# target_search = "lodging"
# target_radius = 10000
# target_type = "lodging"

# # set up a parameters dictionary
# params = {
#     "location": target_coordinates,
#     "keyword": target_search,
#     "radius": target_radius,
#     "type": target_type,
#     "key": g_key
# }

# # base url
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# # run a request using our params dictionary
# response = requests.get(base_url, params=params)
# print(response.status_code)

# data = response.json()
# print()
# print(data["results"][0]["name"])

In [10]:
hotel = my_vacay

# params dictionary
params = {
    "radius": 10000,
    "types": "lodging",
    "key": g_key }

for index, row in hotel.iterrows():
    # get lat, lng 
    lat = row["lat"]
    lng = row["long"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{long}" 
    
    
    # Base url 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
   # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    response_json = response.json()
    
    #print(response_json)
    hotel.loc["hotel_name"] =  response_json["results"][0]["name"] 
    
    
data = response.json()
print()
hotel

NameError: name 'long' is not defined

In [18]:
hotel = my_vacay

# params dictionary
params = {
    "radius": 10000,
    "types": "lodging",
    "key": g_key }

for index, row in hotel.iterrows():
    # get lat, long
    lat = row["lat"]
    long = row["long"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{long}" 
    
    # Base url 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # make request and print url
    response = requests.get(base_url, params=params)
    response_json = response.json()
    
    #print(response_json)
    hotel.loc[index, "Hotel Name"] =  response_json["results"][0]["name"]
    
hotel

C:\Users\hanng\AppData\Local\Temp\ipykernel_18072\326069321.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel.loc[index, "Hotel Name"] =  response_json["results"][0]["name"]

,Unnamed: 0,city,lat,long,weather,temperature,humidity,temp_max,cloudiness,date,wind_speed,Hotel Name
31,31,barbar,24.405418,76.676266,Clear,67.12,30,67.12,0,1669473072,3.71,à¤˜à¤°
58,58,geraldton,-28.770350,114.614716,Clear,66.36,72,66.36,3,1669473181,17.27,Broadwater Mariner Resort
77,77,hermanus,-34.417500,19.236111,Clouds,68.85,58,68.85,15,1669473270,20.11,Misty Waves Boutique Hotel
130,130,carnarvon,-24.882613,113.657649,Clear,69.17,72,69.17,0,1669473488,22.50,Hospitality Carnarvon
220,220,shwebo,22.566662,95.699999,Clear,69.96,62,69.96,0,1669473840,3.96,MOON SHINE Guest House
230,230,puri,19.807608,85.825254,Clear,66.52,52,66.52,5,1669473882,3.69,OYO 1577 Hotel Shree Hari Grand
283,283,gojra,31.148237,72.685908,Clear,67.55,20,67.55,8,1669474100,3.80,Zee Go Hotel
436,436,fuengirola,36.538778,-4.623335,Clear,64.42,52,68.67,0,1669474741,9.22,Hotel Las Palmeras
453,453,firozabad,27.152799,78.399144,Clear,67.42,30,67.42,0,1669474810,3.51,Taj Hotel
501,501,bafq,31.599706,55.396689,Clear,67.30,22,67.30,1,1669475020,2.86,Alamdar Hotel
514,514,rawson,-43.299135,-65.105666,Clear,66.45,44,66.45,0,1669475073,13.15,Hosteria Sampedro

In [28]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
Name
{Hotel Name}

City
{city}

"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
locations = hotel[["lat", "long"]]

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [33]:
# Add marker layer ontop of heat map


# Display figure

hotel_marker = gmaps.symbol_layer(locations, info_box_content=hotel_info)
markers = gmaps.marker_layer(locations)
fig.add_layer(hotel_marker)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))